@model TrackingVaksinApp.Models.ListViewModel

@{
    ViewBag.Title = "Distributed";
    Layout = "~/Views/Shared/_ProdusenLayout.cshtml";
}

<h2>Distributed</h2>

<section class="content">
    <div class="row">
        <div class="container-fluid">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Form Distribusi Vaksin</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="kode_ref">
                                Kode Refrensi
                            </label>
                            <input type="text" name="ref_code" id="kode_ref" placeholder="Masukan Kode Ref" />
                        </div>
                        <div class="form-group">
                            <label for="RumahSakit">Pilih RS</label>
                            <select id="id_rumahSakit" required name="id_rumahsakit">
                                <option value="0">Please select</option>
                                @foreach (var item in Model.rumahSakits)
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">List Vaksin</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Pilih List Vaksin</label>
                                            <select id="no_registrasi" multiple="multiple" name="no_registration" class="form-control">
                                                @foreach (var item in Model.produsen_Vaksins.Where(m => m.status.Equals("Valid")))
                                                {
                                                    <option value="@item.no_registration">@item.no_registration</option>
                                                }
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>